@{
    ViewData["Title"] = "Channel Page";
}

@model TwitchLogger.Website.Models.ChannelViewModel
@{
    var dateNow = DateTimeOffset.UtcNow;
    var dateStart = DateTimeOffset.FromUnixTimeSeconds(Model.Channel.StartTrackingDate);
    var currentYear = dateNow.Year;
    var deltaYear = currentYear - dateStart.Year;

    void MakeYearSwitch(string type)
    {
        <ul class="nav nav-pills mb-auto d-flex">
            <li class="nav-item text-center m-3 flex-fill">
                <span data-year-switch="0" data-year-switch-for="@type" aria-current="page" class="nav-link cursor-pointer active">
                    All years
                </span>
            </li>
            @for (var i = 0; i <= deltaYear; i++)
            {
                <li class="nav-item text-center m-3 flex-fill">
                    <span data-year-switch="@(currentYear - i)" data-year-switch-for="@type" class="nav-link cursor-pointer">
                        @(currentYear - i)
                    </span>
                </li>
            }
        </ul>
    }
}

@section SidebarPanel {
    @await Html.PartialAsync("_ChannelsSideBar")
}

<div class="text-center mt-4">
    <img src="@Model.Channel.LogoUrl" width="70" height="70" />
    <h1 class="align-middle d-inline-block">@Model.Channel.DisplayName</h1>
</div>

<div class="p-3">
    <hr />
    <ul class="nav nav-pills mb-auto d-flex">
        <li class="nav-item text-center m-3 flex-fill">
            <span data-subtab="channelStats" aria-current="page" class="nav-link cursor-pointer active">
                Channel stats
            </span>
        </li>
        <li class="nav-item text-center m-3 flex-fill">
            <span data-subtab="wordUsers" class="nav-link cursor-pointer">
                Top users(word)
            </span>
        </li>
        <li class="nav-item text-center m-3 flex-fill">
            <span data-subtab="userWords" class="nav-link cursor-pointer">
                Top user words
            </span>
        </li>
        <li class="nav-item text-center m-3 flex-fill">
            <span data-subtab="userLogs" class="nav-link cursor-pointer">
                User logs
            </span>
        </li>
    </ul>
    <hr />
</div>

<div data-subtab="channelStats" class="container">
    <div class="container text-center d-flex">
        <ul class="nav nav-pills w-100 mb-auto d-flex">
            <li class="nav-item text-center m-3 flex-fill">
                <h5>Start tracking: <span class="text-primary" data-print-type="date" data-value="@Model.Channel.StartTrackingDate"></span></h5>
            </li>
            <li class="nav-item text-center m-3 flex-fill">
                <h5>Last message: <span class="text-primary" data-print-type="date" data-value="@Model.Channel.MessageLastDate"></span></h5>
            </li>
            <li class="nav-item text-center m-3 flex-fill">
                <h5>Message count: <span class="text-primary" data-print-type="number" data-value="@Model.Channel.MessageCount"></span></h5>
            </li>
        </ul>
    </div>
    <hr />
    @{
        MakeYearSwitch("channelStats");
    }
    <hr />
    <h3 class="text-center">Top words</h3>
    <form class="d-none" data-url="@Url.Action("GetTopWords","Home")" data-callback="getTopWordsSuccess">
        <input data-form-name="id" value="@(ViewContext.RouteData.Values["id"])" type="hidden">
        <input data-form-name="year" value="0" type="hidden">
        <button type="submit"></button>
    </form>
    <div class="container p-3 container-logs border">
        <table id="tableWords" class="table table-hover border-primary table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Word</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div data-subtab="wordUsers" class="container d-none">
    @{
        MakeYearSwitch("wordUsers");
    }
    <form class="p-2" data-url="@Url.Action("GetTopUsers","Home")" data-callback="getTopUsersSuccess">
        <input data-form-name="id" value="@(ViewContext.RouteData.Values["id"])" type="hidden">
        <input data-form-name="year" value="0" type="hidden">
        <div class="mb-1">
            <label>Word</label>
            <input data-form-name="word" type="text" class="form-control" required="">
        </div>
        <div class="mb-1">
            <button type="submit" class="btn btn-primary w-100 mt-2">Get</button>
        </div>
    </form>
    <hr />
    <table id="tableWordUsers" class="table table-hover border-primary table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div data-subtab="userWords" class="container d-none">
    @{
        MakeYearSwitch("userWords");
    }
    <form class="p-2" data-url="@Url.Action("GetTopUserWords","Home")" data-callback="getTopUserWordsSuccess">
        <input data-form-name="id" value="@(ViewContext.RouteData.Values["id"])" type="hidden">
        <input data-form-name="year" value="0" type="hidden">
        <div class="mb-1">
            <label>User</label>
            <input data-form-name="user" type="text" class="form-control" required="">
        </div>
        <div class="mb-1">
            <button type="submit" class="btn btn-primary w-100 mt-2">Get</button>
        </div>
    </form>
    <hr />
    <table id="tableUserWords" class="table table-hover border-primary table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Word</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div data-subtab="userLogs" class="container d-none">

    <div id="userLogsTab1" class="text-center">
        Loading...
    </div>

    <div id="userLogsTab2" class="d-none">
        <form class="p-2" data-url="@Url.Action("GetUserLogsTimes","Home")" data-callback="getUserLogsTimesSuccess">
            <input data-form-name="id" value="@(ViewContext.RouteData.Values["id"])" type="hidden">
            <div class="mb-1">
                <label>User</label>
                <input data-form-name="user" type="text" class="form-control" required="">
            </div>
            <div class="mb-1">
                <button type="submit" class="btn btn-primary w-100 mt-2">Get</button>
            </div>
        </form>
        <hr />
        <div class="container" id="userLogsContainer">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const getChannelsUrl = '@Url.Action("GetChannels", "Home")';
        const getUserLogsUrl = '@Url.Action("GetUserLogs", "Home")';
        const channelUrl = '@Url.Action("Channel", "Home", new { id = ""})';
        const getChannelBadgesUrl = '@Url.Action("GetChannelBadges", "Home", new { channelId = Model.Channel.UserId})';
    </script>

    <script src="~/js/home.js"></script>
    <script src="~/js/channel.js"></script>
}